<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>Trinidad</filter-name>
        <filter-class>org.apache.myfaces.trinidad.webapp.TrinidadFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Trinidad</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>NuevoArticulo</servlet-name>
        <servlet-class>ar.com.nicolasmattar.NuevoArticulo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resources</servlet-name>
        <servlet-class>org.apache.myfaces.trinidad.webapp.ResourceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEnvioTiendaAjax</servlet-name>
        <servlet-class>is2.tpo.view.GetEnvioTiendaAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerarEnviosTiendas</servlet-name>
        <servlet-class>is2.tpo.view.GenerarEnviosTiendas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEnvioTiendaXML</servlet-name>
        <servlet-class>is2.tpo.view.GetEnvioTiendaXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSolicitudFabricacionAjax</servlet-name>
        <servlet-class>is2.tpo.view.GetSolicitudFabricacionAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSolicitudFabricacionXML</servlet-name>
        <servlet-class>is2.tpo.view.GetSolicitudFabricacionXML</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoArticulo</servlet-name>
        <url-pattern>/NuevoArticulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resources</servlet-name>
        <url-pattern>/adf/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEnvioTiendaAjax</servlet-name>
        <url-pattern>/GetEnvioTiendaAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerarEnviosTiendas</servlet-name>
        <url-pattern>/GenerarEnviosTiendas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEnvioTiendaXML</servlet-name>
        <url-pattern>/GetEnvioTiendaXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSolicitudFabricacionAjax</servlet-name>
        <url-pattern>/GetSolicitudFabricacionAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSolicitudFabricacionXML</servlet-name>
        <url-pattern>/GetSolicitudFabricacionXML</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>is2.tpo.exceptions.BusinessException</exception-type>
        <location>/businessException.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/exception.jsp</location>
    </error-page>
</web-app>
